<h3><i class="fa fa-info-circle"></i> Información del Servidor</h3>
<table class="table table-bordered module-table" cellspacing="1" cellpadding="2" align="center">
  <tr>
    <td>Características:</td>
    <td align="center"></td>
  </tr>
  <tr>
    <td>Versión:</td>
    <td align="center">Season 2x PREMIUM</td>
  </tr>
  <tr>
    <td>Fecha de apertura:</td>
    <td align="center">23 de Diciembre de 2017</td>
  </tr>
  <tr>
    <td>Experiencia:</td>
    <td align="center">50x</td>
  </tr>
  <tr>
    <td>Experiencia Dinámica:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Drop:</td>
    <td align="center">40%</td>
  </tr>
  <tr>
    <td>Zen Drop:</td>
    <td align="center">80%</td>
  </tr>
  <tr>
    <td>Reset Level:</td>
    <td align="center">400</td>
  </tr>
  <tr>
    <td>Reset Zen Base:</td>
    <td align="center">50.000.000</td>
  </tr>
   <tr>
    <td>Reset Zen por Reset:</td>
    <td align="center">10.000.000</td>
  </tr>
   <tr>
    <td>Reset Zen Fórmula:</td>
    <td align="center">Costo total = Reset Zen Base + Reset Zen por Reset * Cantidad de Resets</td>
  </tr>
    <tr>
    <td>Reset Zen Fórmula Ejemplo:</td>
    <td align="center"> 2 Resets = (50.000.000 + 10.000.000 * 2) = 70.000.000</td>
  </tr>
  <tr>
    <td>Puntos por Reset:</td>
    <td align="center">400</td>
  </tr>
  <tr>
    <td>Reset Stats:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Reset Inventario:</td>
    <td align="center"><i class="fa fa-times red" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Reset Skills:</td>
    <td align="center"><i class="fa fa-times red" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Zen bug:</td>
    <td align="center"><i class="fa fa-times red" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Tercera evolución:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Alas S3:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Árbol de habilidades:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Mu Helper:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Auto Reconnect:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Vip Users:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Webshop Jewels:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Cámara 3D:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Store Personalizado:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Sistema Offstore:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
   tr>
    <td>Sistema Offattack:</td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Límite de cuentas por IP:</td>
    <td align="center">Ilimitado</td>
  </tr>
  <tr>
    <td>Límite de cuentas por PC:</td>
    <td align="center">5</td>
  </tr>
</table>
<table class="table table-bordered module-table" cellspacing="1" cellpadding="2" align="center">
  <tr>
    <td align="center">Servidores</td>
    <td align="center">Exp</td>
    <td align="center">Drop</td>
    <td align="center">Tipo</td>
    <td align="center">Estado</td>
    <td align="center">Conectados</td>
  </tr>
  <tr>
    <td align="center">MAIN</td>
    <td align="center">50x</td>
    <td align="center">40%</td>
    <td align="center">PVP</td>
    <td align="center">
      {{#if serverStatus}}
        <span class="green">ONLINE</span>
      {{else}}
        <span class="red">OFFLINE</span>
      {{/if}}
    </td>
    <td align="center">{{onlinePlayers}}</td>
  </tr>
</table>
<table class="table table-bordered module-table" cellspacing="1" cellpadding="2" align="center">
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/especiales" target="_blank">Red Dragon Invasion</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/especiales" target="_blank">Skeleton King Invasion</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/invasion-monster/white-wizard-invasiones" target="_blank">White Wizard Invasion</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/invasion-monster/blue-invasiones" target="_blank">Lunar Rabbit Invasion</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/invasion-monster/golden-invasion" target="_blank">Golden Invasion</a></td>
    <td width="20%" align="center"><a href="" target="_blank">Happy Hour</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/evento-boss/kalima-kundun" target="_blank">Kalima BOSS</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/kanturu" target="_blank">Kanturu BOSS</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/evento-boss/la-cleon-selupan" target="_blank">Raklion BOSS</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/evento-boss/swamp-of-peace-medusa" target="_blank">Medusa BOSS</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/loren-deep" target="_blank">Castle Deep</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/castle-siege" target="_blank">Castle Siege</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/quest-mu-online/chaos-castle" target="_blank">Chaos Castle</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/quest-mu-online/blood-castle" target="_blank">Blood Castle</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/quest-mu-online/devil-square" target="_blank">Devil Square</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/quest-mu-online/illusion-temple" target="_blank">Illusion Temple</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/imperial-guardian-fort/imperial-guardian-s5-s9" target="_blank">Imperial Guardian</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/double-goer-season-5/double-goer" target="_blank">Double Goer</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/eventos-mu-online/crywolf" target="_blank">Crywolf Event</a></td>
    <td width="20%" align="center"><a href="http://www.guiamuonline.com/recoleccion/lucky-coin" target="_blank">Lucky Coins Event</a></td>
  </tr>
</table>
<table class="table table-bordered module-table" cellspacing="1" cellpadding="2" align="center">
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/lorencia" target="_blank">Lorencia</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/noria" target="_blank">Noria</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/elbeland" target="_blank">Elbeland</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/devias" target="_blank">Devias</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/dungeon" target="_blank">Dungeon</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/atlans" target="_blank">Atlans</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/losttower" target="_blank">LostTower</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/tarkan" target="_blank">Tarkan</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/aida/nuevo-aida" target="_blank">Aida</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/icarus" target="_blank">Icarus</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/crywolf" target="_blank">Crywolf</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/kanturu" target="_blank">Kanturu</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/valle-of-loren" target="_blank">Valley Of Loren</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/kalima" target="_blank">Kalima</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/barracks-of-balgass" target="_blank">Barracks</a></td>
    <td width="20%" align="center"><a href="http://guias.argmu.net/mapas/refuge-mapamob/" target="_blank">Refuge</a></td>
  </tr>
  <tr>
    <td width="20%" align="center"><a href="http://http://guiamuonline.com/mapas-mu-online/la-cleon/" target="_blank">Raklion</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/karutan-1" target="_blank">Karutan</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/land-of-trials/land-of-trials-season-4" target="_blank">Land Of Trials</a></td>
    <td width="20%" align="center"><a href="http://guiamuonline.com/mapas-mu-online/swamp-of-peace/swamp-of-peace-season-3-season-5-episodio-4" target="_blank">Swamp Of Calmness</a></td>
  </tr>
</table>
<table class="table table-bordered module-table" cellspacing="1" cellpadding="2" align="center">
  <tr>
    <td width="50%" align="center">Características:</td>
    <td width="50%" align="center">Totales</td>
  </tr>
  <tr>
    <td>Cuentas registradas:</td>
    <td align="center">{{createdAccounts}}</td>
  </tr>
  <tr>
    <td>Personajes creados:</td>
    <td align="center">{{createdCharacters}}</td>
  </tr>
  <tr>
    <td>Clanes activos:</td>
    <td align="center">{{createdGuilds}}</td>
  </tr>
  <tr>
    <td>Cuentas baneadas:</td>
    <td align="center">{{bannedList}}</td>
  </tr>
  <tr>
    <td>GMs conectados:</td>
    <td align="center">{{adminsOnline}}/{{adminListCount}}</td>
  </tr>
</table>
<p style="text-align: center;"><span style="font-size:11px;">Información de mapas y eventos extraída de <a href="http://guiamuonline.com">http://www.guiamuonline.com</a></span></p>
