<h3><i class="fa fa-handshake-o"></i> Condiciones de Servicio</h3>
<div class="well clearfix">
  <p>MU {{pageName}} es un juego online gratuito, que tiene como único objetivo ofrecer entretenimiento a cientos de jugadores en todo el mundo, sin excluir a nadie por su sexo, raza, nacionalidad, etc.</p>
  <p>“El desconocimiento de las normas, no exime de culpa a nadie” Todos los usuarios tienen los mismos derechos y obligaciones, y se les aplican a todos las mismas reglas. En el caso de infringir las normas, el usuario será severamente sancionado.</p>
  <p>A continuación, se exponen, de manera detallada, las normas/condiciones que cada nuevo usuario deberá respetar para permanecer en nuestra comunidad.</p>
</div>
<div class="list-group menu">
  <p class="list-group-item text-center"><b>INDICE</b></p>
  <a class="list-group-item" href="#conducta">1. CONDUCTA</a>
  <a class="list-group-item" href="#acciones-ilegales">2. ACCIONES ILEGALES</a>
  <a class="list-group-item" href="#posesiones">3. POSESIONES</a>
  <a class="list-group-item" href="#donaciones">4. DONACIONES</a>
  <a class="list-group-item" href="#denuncias">5. DENUNCIAS</a>
  <a class="list-group-item" href="#sanciones">6. SANCIONES</a>
  <a class="list-group-item" href="#aclaraciones">7. ACLARACIONES</a>
</div>
<br>
<div id="conducta" class="well clearfix">
  <h6><i class="fa fa-chevron-right"></i> CONDUCTA</h6>
  <p><b>1.1</b> Tratar a todos los usuarios con cortesía y respeto.</p>
  <p><b>1.2</b> Se deben acatár las órdenes de los miembros del Staff, ya que éstos son la autoridad en la comunidad que se rigen por las normas establecidas.</p>
  <p><b>1.3</b> No debes NUNCA hacerte pasar por otra persona. Nunca te hagas pasar por otro jugador, y más grave aún, hacerte pasar por un miembro del Staff.</p>
  <p><b>1.4</b> No insultar de manera excesiva.</p>
  <p><b>1.5</b> Evitar palabras de ofensa hacia el servidor u administración.</p>
  <p><b>1.6</b> No pedir items, party, etc al Staff.</p>
  <p><b>1.7</b> No interrumpir el desempeño del Staff durante los eventos dentro del juego.</p>
  <p><b>1.8</b> No hacer ningún tipo de publicidad ni comentarios sobre otros servidores.</p>
  <p><b>1.9</b> No mencionar jamás ser amigo de ningún miembro del Staff, ni siquiera en forma de broma.</p>
</div>
<div id="acciones-ilegales" class="well clearfix">
  <h6><i class="fa fa-chevron-right"></i> ACCIONES ILEGALES</h6>
  <p><b>2.1</b> No aprovecharse de bugs, errores, etc. del juego para beneficio personal. Si encontraste una falla, debes reportarla de inmediato.</p>
  <p><b>2.2</b> No usar ningún tipo de cheat/hack, programa alterno que vaya en contra del desempeño del cliente/servidor.</p>
  <p><b>2.3</b> Queda totalmente prohibido el uso de cualquier aplicación que altere la correcta función de cualquier soporte de la comunidad, ya sea: web, servidor, etc. Se entiende por "aplicación externa ilegal" cualquier programa/web/aplicación o variante de software de los mismos que no sea publicado o permitido previamente por el Staff.</p>
  <p><b>2.4</b> El beneficiarse de cualquier fallo para lucrarse de él, tanto dentro del servidor o en cualquier otro soporte de la comunidad, será gravemente sancionado.</p>
  <p><b>2.5</b> Cualquier alteración o modificación no oficial del Cliente está prohibida. Éste acto puede llevar al mal funcionamiento del juego e incluso puede suponer sanciones.</p>
</div>
<div id="posesiones" class="well clearfix">
  <h6><i class="fa fa-chevron-right"></i> POSESIONES</h6>
  <p><b>3.1</b> El único responsable de la seguridad de las cuentas es el USUARIO dueño de las mismas. NUNCA debe revelar su contraseña de acceso a ninguna persona. MU {{pageName}} no puede ni se hará responsable de ninguna forma por el robo de cuentas o items mediante: averiguación de contraseñas, exploits, uso de computadoras compartidas en cibercafés, troyanos o cualquier otro método conocido que sea ajeno al servidor, y que aproveche la vulnerabilidad del usuario, su computadora o sistema para conseguir y adueñarse de sus datos y/o contraseñas.</p>
  <p><b>3.2</b> MU {{pageName}} no está comprometido bajo ninguna circunstancia a: reponer ningún item que fuese sustraído de la cuenta del usuario, ni a recuperar ninguna cuenta, personaje, stats, clan, levels, etc, en situaciones en que el usuario haya sido perjudicado por el mal accionar de personas ajenas al Staff del servidor.
    <p><b>3.3</b> MU {{pageName}} nunca realizará cambios de correos electrónicos en cuentas. Las mismas, desde su creación, quedan totalmente ligadas al correo con el cual fué registrada. No habrá forma ni consideración alguna para hacer un cambio de correo electrónico. El cuidado de la dirección de email es responsabilidad absoluta del usuario.</p>
    <p><b>3.4</b> No está permitido, bajo ninguna circunstancia, el COMERCIO de CUENTAS.</p>
    <p><b>3.5</b> Lucrarse a traves de intercambios de cuentas del juego, personajes, objetos o MU Coins de MU {{pageName}} estará sancionado con la expulsión imediata de la comunidad y el bloquéo de todas sus cuentas en el servidor.</p>
    <p><b>3.6</b> Todas las cuentas registradas (y su contenido) son únicamente propiedad de MU {{pageName}}. Por lo tanto las mismas se podrán modificar, eliminar y/o bloquear a total libertad por la administración de MU {{pageName}} en caso de que se considere necesario.</p>
    <p><b>3.7</b> Todas las cuentas con más de un (1) año de inactividad en el JUEGO (no en la WEB) serán eliminadas con todo lo que eso implica (personajes, items, items en baúl, Mu Coins, membresías VIP, etc) sin previo aviso y sin derecho a reclamo alguno. Mantener la cuenta activa es responsabilidad del usuario.</p>
    <p><b>3.8</b> Todas las cuentas vacías (sin personajes creados) serán eliminadas con todo lo que eso implica (items en baúl, Mu Coins, membresías VIP, etc) sin previo aviso y sin derecho a reclamo alguno.</p>
    <p><b>3.9</b> MU {{pageName}} no se responsabiliza por los resultados de los "tradeos" (comercio de items) dentro del juego. Cada usuario debe saber negociar y estár atento ante cualquier intento de estafa o mala intención por parte del resto de los jugadores a la hora de intercambiar objetos.</p>
    <p><b>3.9.1</b> No se repondrá ningún item perdido a causa de desconexiones del juego.</p>
</div>
<div id="donaciones" class="well clearfix">
  <h6><i class="fa fa-chevron-right"></i> DONACIONES</h6>
  <p><b>4.1</b> Jugar en MU {{pageName}} es totalmente GRATIS, la adquisición de Mu Coins es de absoluta elección y decisión de cada uno de los usuarios.</p>
  <p><b>4.2</b> Los valores abonados son en calidad de donación para el mantenimiento de nuestros servidores, gastos de alojamiento, modulos webs, compra y costos mensuales de licencias. Bajo ninguna circunstancia serán reembolsados.</p>
  <p><b>4.3</b> No hay por ningún motivo cambio ni devolución de los Mu Coins adquiridas.</p>
  <p><b>4.4</b> No se repondrán (bajo ningúna circunstancia) los ítems obtenidos mediante donaciones que se hayan vendido en las tiendas del servidor, perdidos a la hora de resetear o robados. El cuidado de éstos items junto con la cuenta es pura responsabilidad de cada usuario.</p>
  <p><b>4.5</b> El préstamo o regalo de items adquiridos en la WebShop es responsabilidad única de cada usuario. MU {{pageName}} no se hace responsable de lo que suceda posteriormente con el tradeo de items de donaciones.</p>
  <p><b>4.6</b> Cada usuario es responsable del uso de los Mu Coins. MU {{pageName}} no se hará responsable de una mala elección/edición de items a la hora de realizar una compra en la Webshop.</p>
  <p><b>4.7</b> Las donaciones se concretan dentro de las 24 a 72hs (hábiles) luego de haber abonado el cupón. Una vez acreditada la donación, se realiza el depósito de Mu Coins en la cuenta correspondiente. Nunca hagas un reclamo antes de las 72hs (hábiles).</p>
  <p><b>4.8</b> El reintegro de días VIP se realizará únicamente por estados "fuera de línea" (offline) de la Web y/o Servidor/Juego por un periodo de tiempo mayor a las 12hs consecutivas. En caso de superarse éste periodo de tiempo se procederá a realizar (solo a las membresís que estén activas hasta ese momento) el reintegro de 1 día VIP por cada 24hs de "fuera de línea".</p>
  <p><b>4.8.1</b> Al efectuar tus pedidos estás aceptando estos Términos y Condiciones sobre Donaciones.</p>
</div>
<div id="denuncias" class="well clearfix">
  <h6><i class="fa fa-chevron-right"></i> DENUNCIAS</h6>
  <p><b>5.1</b> Cualquier infracción que no haya podido registrar el Staff de MU {{pageName}}, puede ser sancionada, siempre y cuando se disponga de pruebas (capturas de pantalla, videos, entre otras opciones). Se deben contactar mediante la sección contacto con algún miembro del Staff.</p>
  <p><b>5.2</b> Sin pruebas no se puede sancionar absolutamente nada.</p>
  <p>NOTA: Ésta norma es aplicable a los usuarios a excepcion de casos especiales que decida el Staff. El mismo banea/bloquea con motivos y las explicaciones se darán a los superiores y al afectado.</p>
  <p><b>5.3</b> Publicár una falsa denuncia puede ser motivo de expulsión de la comunidad.</p>
</div>
<div id="sanciones" class="well clearfix">
  <h6><i class="fa fa-chevron-right"></i> SANCIONES</h6>
  <p><b>Ban Tipo 1 (Personaje):</b> Insultos hacia algún miembro del STAFF. Incumplimiento de ordenes de algún miembro del STAFF. Casos especiales a determinar por el STAFF.</p>
  <p><b>Ban Tipo 2 (Cuenta):</b> Uso de algún programa alterno o fallo del juego/web para beneficio propio. SPAM/Publicidad a otros servidores. Cuando el Ban de Tipo 1, no es suficiente. Casos especiales a determinar por el STAFF.</p>
  <p><b>Ban Tipo 3 (IP):</b> Cuando el usuario en cuestión, siga reincidiendo en las infracciones. Cuando el Ban de Tipo 2, no es suficiente. Casos especiales a determinar por el STAFF.</p>
</div>
<div id="aclaraciones" class="well clearfix">
  <h6><i class="fa fa-chevron-right"></i> ACLARACIONES</h6>
  <p><b>7.1</b> Todos los usuarios tienen los mismos derechos y obligaciones, y se les aplican a todos las mismas reglas. En el caso de infringir las reglas del juego las cuentas serán bloqueadas con todo lo que tengan dentro y posteriormente eliminadas, sin previo aviso ni derecho a reclamo alguno.</p>
  <p><b>7.2</b> Para facilitar cualquier tipo de datos a los miembros del Staff, puedes hacerlo en la sección Contacto, de esta manera te aseguras de que dicha persona es del Staff.</p>
  <p><b>7.3</b> La administración se reserva el derecho de emplear cualquier medida o cambio que considere necesario para detener cualquier tipo de infracción, falla de seguridad, error (bug), etc.</p>
  <p><b>7.4</b> MU {{pageName}} se reserva el derecho de admisión y permanencia a sus servidores de juego y comunidad en general. Como así también el de modificár los Términos y Condiciones mencionados anteriormente cada vez que se considere necesario. Es responsabilidad del usuario leerlas y repasarlas periodicamente.</p>
</div>
